.NavBar {
  background-color: white;
  border-bottom: grey;
}

.logo {
  height: 100px;
  width: 25%
}

.nav {
  margin: 0mm;
  padding: 0mm;

}

.item {
  display: inline-block;
  margin: 0mm;
  padding: 30px;
  align-content: center;
}

.button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.5s;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }

  .button:hover {
    background-color: purple; 
    color: white;
  }

  #grab {
    cursor: -webkit-grab; 
    cursor: grab;
  }